<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Brag Diary</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body height=100%>
  <div class="middle-container">
    <h2>Jan 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Started my Python journey and learned the basics</li>
            <li>Learned if else, for loops, basic functions, dabbled in OOP</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>Feb 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>More practice on OOP and classes</li>
            <li>Learned GUI with Turtle</li>
            <ul>
              <li>Understanding X/Y positions</li>
              <li>Created classic "Pong" and "Snake" game</li>
            </ul>
            <li>Importing modules</li>
            <li>Class inheritance</li>
            <li>Files, directories, and paths</li>
            <ul>
              <li>Learned difference between absolute and relative paths</li>
              <li>Reading/Writing to files</li>
            </ul>
            <li>Dabbled in Pandas</li>
            <ul>
              <li>How to create dataframes</li>
              <li>Manipulating .CSV files to locate desired data</li>
            </ul>
            <li>List and Dictionary Comprehensions</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>Mar 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Worked in Tkinter and created apps:</li>
            <ul>
              <li>Pomodore Timer App</li>
              <li>Password Generator App</li>
            </ul>
            <li>Learned Try Except error catching</li>
            <li>Learned about JSON (how to read, write, update)</li>
            <li>Learned datetime module</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>Apr 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Learned about APIs and their response codes to create projects:</li>
            <ul>
              <li>Stock Market Trend Notifier (used API to track stock market trends to detect drastic changes and email/text (through Twilio) relevant news article links)</li>
              <li>Discount Travel Notifier (similar to Stock Market Trend notifier, but for discounted airfare)</li>
              <li>Birthday Tracker (reads the date to see if it's anyone's birthday (on spreadsheet) and auto sends a well-wishing birthday email)</li>
            </ul>
            <li>Learned about API advanced authentication & Post/Put/Delete</li>
            <li>Learned basics of HTML/CSS; created CV website</li>
            <li>Learned basics of Github; uploaded CV onto Github as practice</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>May 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Learned BeautifulSoup and web scraping</li>
            <li>Used knowledge of webscraping and APIs to create Spotify playlist
              <br>(user inputs date and creates song list based on Top 100 Billboard's archives from that date)</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>June 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Started self-study of Data Structures and Algorithms</li>
            <li>Big O Notation and speed efficiency</li>
            <li>Hash Tables</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>July 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Learned Selenium</li>
            <li>Used BeautifulSoup in conjunction with Selenium to automate webscraping</li>
            <li>Project: Scraped website to find current home rental prices and automated filling out Google Forms</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>August 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Learned Flask</li>
            <li>Recreated some basic HTML websites and learned to render templates to create more stylized sites</li>
            <li>Learned Jinja to be able to use Python code with Flask</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>September 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>Learned Bootstrap</li>
            <li>Learned basics of Jinja</li>
            <li>Created mock site (Tinder) using all previously learned web dev skills</li>
            <li>Practiced creating site using Bootstraps, Flask, and WTForms</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>October 2022</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li>More practice with Flask, Jinja, and WTForms</li>
            <li>Learned about SQLite and SQLAlchemy</li>

          </ul>
        </td>
      </tr>
    </table>
  </div>

</body>

</html>
