{% extends "layout.html" %}
{% block content %}
  <div class="top-container" id="top">
    <img class="top-cloud" src="{{url_for('static', filename='images/cloud.png')}}" alt="cloud-img">
    <h1>I'm Joanna.</h1>
    <h2>a writer and programmer.</h2>
    <img class="bottom-cloud" src="{{url_for('static', filename='images/cloud.png')}}" alt="cloud-img">
    <img class="hospital-panorama" src="{{url_for('static', filename='images/hospital-panorama.png')}}" alt="Midwinter-setting-img">
  </div>
  <div class="middle-container" id="middle">
    <div class="profile" id="profile">
      <img class="profile-pic-img" src="{{url_for('static', filename='images/Profile_pic.png')}}" width="150" alt="profile-pic-img">
      <h2>Hello!</h2>
      <p class="intro">I'm a bookkeeper currently studying programming to pursue an exciting new career in software development.</p>
      <img class="border-img" src="{{url_for('static', filename='images/border-pic-line.png')}}" alt="border-img">
      <br>

    </div>

    <div class="skills" id="skills">
      <h2>My Skills</h2>
      <div class="skill-row">
        <img class="typing-img" src="{{url_for('static', filename='images/MW-typing.png')}}" alt="typing-img">

        <h3>Coding</h3>
        <p class="coding-p">My love for video games is what originally got me interested in programming. The more I learned about it, the more
          I realized how programming wasn't just about being analytical and logical, it had a creative side and I became more intrigued with what
          I could accomplish. I'm currently studying Python, SQL, Bootstrap, Flask, HTML, and CSS, but I am always eager to learn new skills.</p>
      </div>

      <div class="skill-row">
        <figure>
          <img class="comic-img" src="{{url_for('static', filename='images/comic-pg-011.jpg')}}" alt="comic-img" width="300">
          <center>
            <figcaption><i>A page from my graphic novel, Midwinter.</i></figcaption>
          </center>
        </figure>

        <h3>Creativity</h3>
        <p class="creative-p">I also love creative writing and storytelling, which is why outside of my regular job, I also co-founded a publishing company called ReVision Studios,
          where I'm currently the lead writer and letterer for my team's self-published debut graphic novel, <em>Midwinter</em>. Writing allows me to think of new scenarios and story ideas
          that I storyboard with my team members. These storyboard meetings allowed me to hone in on my communication skills in order to get my point across as quickly and concisely
          as possible.</p>
      </div>
    </div>

    <div class="projects" id="projects">
      <h2>Projects</h2>
      <p class="projects-p">Coming soon!</p>
    </div>
    <br>
    <div class="contact-me" id="contact-me">
      <h2>Get In Touch</h2>
      <h3>Want to learn more about my work or comic?</h3>

      <p>I would love to chat! And if you want to check out Midwinter, just click on the image below!</p>
      <a href="https://www.midwintercomic.com/"><img class="midwinter-logo" src="{{url_for('static', filename='images/MW-logo.png')}}" alt="Midwinter-logo"> </a>
      <br>
      <a class="btn" type="button" href="mailto:joannawong888@gmail.com">CONTACT ME</a>
    </div>
  </div>

  <div class="bottom-container" id="bottom">
    <a class="footer-link" href="https://www.linkedin.com/in/joanna-wong-644140239"><i class="bi bi-linkedin"></i></a>
    <a class="footer-link" href="https://github.com/jojowo88"><i class="bi bi-github"></i></a>
    <p style="color: #C996CC; margin-block-end: auto; padding: 10px;">© 2022 Joanna Wong.</p>
  </div>
{% endblock content %}

